<!DOCTYPE html>

<html class="bg" lang="eng" dir="ltr">

<!-- NOTE: directory paths may have to be changed if template is being used as a subpage -->
<!-- "break" divs are linked to CSS styling to divide pages-->
<!-- DELETE pre-existing, irrelevant comments when done to improve readability! -->

<head>
    <title>TITLE</title>
    <link href='../Styles/stylesa3.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <div>
            <a id="idTITLE-top"></a>
        </div>

        <header>
            <section class="pageheader">
                <h1>TITLE</h1>
            </section>

            <section class="navheader">
                <nav>
                    <p>
                        <a href="../index.html">Home</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                    </p>
                </nav>
            </section>
        </header>

        <div class="break">
            <br></br>
        </div>

        <section class="TITLE-content">

        </section>

        <div class="break">
            <br></br>
        </div>

        <footer>
            <p id="footer-info">Up and Coming - Group 2 | Assesment 2 - Team Project | Introduction to Information
                Technology</p>
            <section class="navfooter">
                <p><a href="#TITLE-top">Back To Top</a> |
                    <a href="../index.html">Home</a>
                        <a href="../index.html">Home</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                        <a href="">Unassigned</a>
                </p>
            </section>
        </footer>
    </div>
</body>

</html>