/* Overall CSS Styling */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&family=Silkscreen:wght@400;700&display=swap');

.wrapper h1,
h2,
h3,
h4,
h5,
h6 {
    color: whitesmoke;
    font: 25px 'silkscreen', cursive;
    letter-spacing: 1px;
}

.wrapper li,
p {
    color: whitesmoke;
    font: 500 18px/0.75cm 'M PLUS 1 Code', sans-serif;
    letter-spacing: 1px;
}

.wrapper th {
    color: whitesmoke;
    font: bold 20px 'silkscreen', cursive;
}

.wrapper tr,
td {
    color: whitesmoke;
    font: medium/0.75cm 'silkscreen', cursive;
    letter-spacing: 0.5px;
}

.wrapper a:link,
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

.wrapper a:hover {
    color: coral;
}

.wrapper a:active {
    background-color: steelblue;
}

.break {
    background-color: aquamarine;
    opacity: 70%;
    margin: 0px 50px 0px 50px;
}

html {
    scroll-behavior: smooth;
}

header {
    margin: 20px 50px 0px 0px;
}

/* Background Image */

.bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background: url(???) no-repeat center center fixed;*/
    background-size: cover;
    background-color: black;
}

/* IMAGE SOURCE: ??? */

/* Header */

.page-header {
    text-align: left;
    text-transform: uppercase;
    margin: 20px 500px 0px 50px;
}

.page-header h1 {
    font-size: 50px;
}

/* Navigation Bar - Header */

.navbar-header {
    overflow: auto;
    margin: 0px 0px 30px 50px;
    letter-spacing: 5px;
}

.navbar-header p {
    font: 17px 'silkscreen', cursive;
}

.navbar-header a {
    line-height: 0.75cm;
    letter-spacing: 0.5px;
    color: whitesmoke;
    float: center;
    margin: 10px;
}


/* Footer */

footer {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

footer p {
    color: whitesmoke;
    font: 17px/0.75cm 'silkscreen', cursive;
    letter-spacing: 0.5px;
}

#footer-info {
    margin-bottom: 15px;
}

/* Navigation Bar - Footer */

.buttonnavbar-footer {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    letter-spacing: 0.5px;
    line-height: 0.75cm;
}

.buttonnavbar-footer a {
    font-style: normal;
    text-decoration: none;
    float: center;
    margin: 50px 0px 25px;
}

/* Home/Index */

.navhome {
    text-align: center;
    margin: 50px 0px 25px;
}

.navhome a {
    font: bold 17px 'silkscreen', cursive;
    text-align: center;
    float: center;
    margin: 0px 20px;
}

.hometitles {
    margin: 180px 0px 150px;
}

.hometitles h1 {
    font: 500 100px/3cm 'silkscreen', cursive;
    text-align: center;
    letter-spacing: 10px;
    margin: 50px 0px 10px;
}

.hometitles h2 {
    font: 100 italic 40px/3cm 'silkscreen', cursive;
    text-align: center;
    letter-spacing: -5px;
    margin: 10px 0px 30px;
}

.homecontent {
    font: 100 19px 'silkscreen', cursive;
    text-align: center;
    letter-spacing: 3.5px;
    line-height: 1cm;
    margin: 30px 150px;
}

.homecontent h3 {
    font-size: 40px;
    letter-spacing: 15px;
    margin: 0px 0px 75px;
}

.homefooter {
    font-size: 10px;
    margin: 100px 0px 30px;
}

/* Team Profile */

.teamprofile-titles {
    margin: 100px 0px 50px;
}

.teamprofile-titles h1 {
    text-align: center;
    font-size: 25px;
    margin: 0px;
}

.teamprofile-titles h2 {
    text-align: center;
    font: bold 35px 'silkscreen', cursive;
    margin: 5px 0px 0px;
}

.teamprofile-table td,
th {
    font: 200 26px 'silkscreen', cursive;
    margin: 45px;
}

.teamprofile-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 0px 200px;
    margin: 50px 0px;
}

.teamprofile-table img {
    width: 100px;
    object-fit: cover;
}

#hs-rec {
    width: 275px;
    height: 275px;
    overflow: hidden;
    border-radius: 50%;
}

#hs-port {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

#hs-squ {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.teamprofile-ijtitles {
    text-align: center;
    margin: 50px 0px 50px;
    margin: 10px 0px 0px;
}

.teamprofile-ijtitles h1 {
    font-size: 30px;
    font-weight: bold;
}

.teamprofile-ijtitles h2 {
    font-size: 20px;
}

.teamprofile-ijcontent {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 300px;
    margin: 0px 0px 25px;
}

.teamprofile-ijtable td {
    text-align: center;
    border-style: solid;
    border-color: white;
    margin: 2px 3px;
}

#teamprofile-ijtable1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-spacing: 1px 1px;
    border-collapse: collapse;
    margin: 0px 250px;
    margin: 10px 0px 50px;
}

#teamprofile-ijtable2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-spacing: 1px 1px;
    border-collapse: collapse;
    margin: 0px 200px;
    margin: 0px 0px 50px;
}

#teamprofile-ijtable2 li {
    margin-right: 20px;
}

/* Team Profile - Sub Pages */

.teamprofile-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 200px;
    margin: 50px 0px;
}

.teamprofile-content h1 {
    font-size: 20px;
    font-weight: bold;
}

#teamprofile-spacing p {
    margin: 10px 0px 0px;
}

/* Tools */

.tools-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 300px 0px;
    margin: 50px 0px 75px;
}

.tools-content a {
    color: whitesmoke;
    font: 500 18px/0.75cm 'M PLUS 1 Code', sans-serif;
    letter-spacing: 1px;
}


/* Project Idea */

.projectidea-titles {
    margin: 100px 0px 50px;
}

.projectidea-titles h1 {
    text-align: center;
    font-size: 35px;
}

.projectidea-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 300px;
    margin: 50px 0px;
}

.projectidea-content h2 {
    font-size: 17px;
    font-weight: bold;
}


/* Group Reflection */

.reflect-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 200px;
    margin: 50px 0px;
}

.reflect-content h1 {
    font-size: 30px;
    margin-top: 50px;
}

.reflect-content h2 {
    font-size: 25px;
    font-style: italic;
    margin-top: 30px;
}

.reflect-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 0px 250px;
    margin: 50px 0px;
}

.reflect-table th {
    margin: 45px;
    font-size: 26px;
    font-weight: 200;
    font-style: normal;
}

.reflect-table td {
    margin: 45px;
    font-size: 15px;
    font-weight: 200;
    font-style: italic;
}

.reflect-rowmain th {
    margin-bottom: 0px;
}

.reflect-rowname td {
    margin-top: 0px;
}

.reflect-ijtitles {
    margin-top: 50px;
    margin-bottom: 25px;
}

.reflect-ijtitles h1 {
    text-align: center;
    font-size: 35px;
}


/* Individual Reflections Sub Pages (Group Reflections) */

.irreflect-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 200px;
    margin: 50px 0px;
}

.irreflect-content h1 {
    font-size: 20px;
    text-align: center;
}

.irreflect-content h2 {
    font-size: 15px;
    font-weight: bold;
}

/* Responsive Media Queries */

/*
.wrapper {
width: 100%;
max-width: 1100px;
margin-left: auto;
margin-right: auto;
}

@media screen and (max-width: 528px), (max-height: 320px) {
.wrapper {
    width: 100%;
    height: auto;
}
*/