/* Overall CSS Styling */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&family=Silkscreen:wght@400;700&display=swap');

h1 {
    color: whitesmoke;
    font: bold 17px/0.75cm 'silkscreen', cursive;
    letter-spacing: 1px;
}

h2,
h3,
h4,
h5 {
    color: whitesmoke;
    font: 25px 'silkscreen', cursive;
    letter-spacing: 1px;
}

h6 {
    color: whitesmoke;
    font: 40px/1.5cm 'silkscreen', cursive;
    letter-spacing: 1px;
}

li,
p {
    color: whitesmoke;
    font: 500 18px/0.75cm 'M PLUS 1 Code', sans-serif;
    letter-spacing: 1px;
}

th {
    color: whitesmoke;
    font: bold 20px 'silkscreen', cursive;
}

tr,
td {
    color: whitesmoke;
    font: medium/0.75cm 'silkscreen', cursive;
    letter-spacing: 0.5px;
}

a:link,
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: #FF5F1F;
}

a:active {
    color: #FFA986;
}

.backbutton h2 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.break {
    background-color: #FF5F1F;
    opacity: 85%;
    margin: 0px 50px 0px 50px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.excel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


/* Background Image */

.bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background: url(???) no-repeat center center fixed;*/
    background-size: cover;
    background-color: black;
}

/* IMAGE SOURCE: ??? */

/* Header */

.pageheader {
    text-align: left;
    text-transform: uppercase;
    margin: 20px 500px 0px 50px;
}

.pageheader h1 {
    font-size: 55px;
    font-weight: bold;
    margin: 50px 0px 40px;
}

/* Footer */

footer {
    text-align: center;
    margin: 50px 0px;
}

footer p {
    color: whitesmoke;
    font: 17px/0.75cm 'silkscreen', cursive;
    letter-spacing: 0.5px;
}

/* Navigation Bar - Header */

.navheader {
    overflow: auto;
    margin: 0px 0px 30px 30px;
    letter-spacing: 5px;
}

.navheader p {
    color: whitesmoke;
    font: 17px/0.75cm 'silkscreen', cursive;
    letter-spacing: 0.5px;
    margin: 0px;
}

.navheader a {
    float: left;
    margin: 0px 25px;
}

/* Template */

.tempcontent {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 250px;
}

.tempcontent h1 {
    font-size: 17px;
    font-weight: bold;
}

/* Home/Index */

.navhome {
    text-align: center;
    margin: 50px 0px 25px;
}

.navhome a {
    font: bold 17px 'silkscreen', cursive;
    text-align: center;
    float: center;
    margin: 0px 20px;
}

.hometitles {
    margin: 180px 0px 150px;
}

.hometitles h1 {
    font: 500 100px/3cm 'silkscreen', cursive;
    text-align: center;
    letter-spacing: 10px;
    margin: 50px 0px 10px;
}

.hometitles h2 {
    font: 100 italic 40px/3cm 'silkscreen', cursive;
    text-align: center;
    letter-spacing: -5px;
    margin: 10px 0px 30px;
}

.homecontent {
    font: 100 19px 'silkscreen', cursive;
    text-align: center;
    letter-spacing: 3.5px;
    line-height: 1cm;
    margin: 30px 150px;
}

.homecontent h3 {
    font-size: 40px;
    letter-spacing: 15px;
    margin: 0px 0px 75px;
}

/* Description */

.desccontent {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 200px;
}

.desccontent h6 {
    margin: 25px 0px;
}


.desccontainer {
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 250px;
}

/* Description Sub Pages */

.descsubs-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 200px;
}

#desclists {
    text-align: left;
}

/* Skills & Jobs */

.snjcontent {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 250px;
}

.snjcontent h1 {
    font-size: 17px;
    font-weight: bold;
}

/* Team Profile */

.tptitles {
    margin: 50px 0px;
}

.tptitles h1 {
    text-align: center;
    font-size: 25px;
    margin: 0px;
}

.tptitles h2 {
    text-align: center;
    font: bold 35px 'silkscreen', cursive;
    margin: 5px 0px 0px;
}

.tptable {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px 200px;
}

.tptable td,
th {
    font: 500 26px 'silkscreen', cursive;
    padding: 20px 0px;
}

.tptable img {
    width: 100px;
    object-fit: cover;
    transition: transform .2s;
}

.tptable img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

#hs-rec {
    width: 275px;
    height: 275px;
    overflow: hidden;
    border-radius: 50%;
}

#hs-port {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

#hs-squ {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.tpcontent {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 250px;
}

.tpcontent h1 {
    font-size: 17px;
    font-weight: bold;
}

/* Team Profile - Sub Pages */

.tpspcontent {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 50px 50px;
}

.tpspcontent h1 {
    font-size: 20px;
    font-weight: bold;
}

.tpspacing p {
    margin: 10px 0px 0px;
}

/* Tools */

.toolscontent {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 300px;
}

.toolscontent a {
    color: whitesmoke;
    font: 500 18px/0.75cm 'M PLUS 1 Code', sans-serif;
    letter-spacing: 1px;
}


/* Group Reflection */

.grcontent {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 200px;
}

.grtable {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 50px 250px;
}

.grtable th {
    margin: 45px;
    font-size: 30px;
    font-weight: 200;
    font-style: normal;
}

.grtable td {
    margin: 45px;
    font-size: 15px;
    font-weight: 200;
}

.grmainrow th {
    padding-bottom: 0px;
}

.grsubrow td {
    padding-bottom: 20px;
}


/* Individual Reflections Sub Pages (Group Reflections) */

.ircontent {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 200px;
}

.ircontent h1 {
    font-size: 20px;
    text-align: center;
}

.ircontent h2 {
    font-size: 15px;
    font-weight: bold;
}

/* Responsive Media Queries */

/*
.wrapper {
width: 100%;
max-width: 1100px;
margin-left: auto;
margin-right: auto;
}

@media screen and (max-width: 528px), (max-height: 320px) {
.wrapper {
    width: 100%;
    height: auto;
}
*/