    /* Overall CSS Styling */

    @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
    /*
    font-family: 'Silkscreen', cursive;
    */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    th {
        color: whitesmoke;
        font-family: 'Silkscreen', cursive;
        font-size: large;
        letter-spacing: 1.5px;
    }

    p,
    li,
    td {
        color: whitesmoke;
        font-family: 'Silkscreen', cursive;
        font-size: medium;
        letter-spacing: 0.5px;
        line-height: 0.75cm;
    }

    a:link,
    a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    a:hover {
        color: coral;
    }

    header {
        padding-top: 20px;
        padding-left: 50px;
    }

    .break {
        background-color:aquamarine;
        opacity: 70%;
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Background Image */

    .bg {
        background: url(../Images/altbg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }

    /* IMAGE SOURCE: Gradienta - https://unsplash.com/photos/pHh_qLDusw4 */

    /* Header */
    .page-header {
        text-align: left;
        text-transform: uppercase;

        padding-top: 20px;
        padding-left: 50px;
        padding-right: 755px;
    }

    .page-header h1 {
        font-size: 50px;
        color: white;
    }

    /* Navigation Bar - Header */

    .navbar-header {
        overflow: auto;
        padding-top: 0px;
        padding-left: 50px;
        padding-bottom: 30px;
        letter-spacing: 5px;
    }

    .navbar-header a {
        font-style: normal;
        text-decoration: none;
        float: center;
        padding: 10px;
    }

    .navbar-header a:active {
        background-color: steelblue;
    }

    /* Footer */

    footer {
        color: white;
        text-align: center;
        padding-bottom: 50px;
    }

    /* Navigation Bar - Footer */

    .buttonnavbar-footer {
        font-family: 'Silkscreen', cursive;
        font-weight: normal;
        font-size: 25px;
        text-align: center;
        padding-top: 5px;
        width: 100%;
        letter-spacing: 0.5px;
        line-height: 0.75cm;
    }

    .buttonnavbar-footer a {
        font-style: normal;
        text-decoration: none;
        float: center;
        padding: 10px;
    }

    /* Home */

    .home-content {
        padding-top: 175px;
        padding-bottom: 75px;
        text-align: center;
    }

    .homenavbar-footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .homenavbar-footer a {
        font-family: 'Silkscreen', cursive;
        font-weight: normal;
        font-size: 17px;
        font-style: normal;
        text-align: center;
        text-decoration: none;
        float: center;
        padding: 10px;
    }

    .home-content {
        letter-spacing: 3.5px;
        line-height: 1cm;
        padding-top: 200px;
        padding-bottom: 50px;
    }

    .home-content h1 {
        margin-bottom: 5px;
        font-size: 30px;
    }

    .home-content h2 {
        margin-top: 0px;
        font-weight: lighter;
        font-size: 25px;
    }

    /*
    .home-content h3 {

    }
    */

    /* Team Profile */

    .teamprofile-titles {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .teamprofile-titles h1 {
        text-align: center;
        font-size: 35px;
    }

    .teamprofile-table td,
    th {
        padding: 45px;
        font-size: 26px;
        font-weight: 200;
        font-style: italic;
    }

    .teamprofile-table {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .teamprofile-table img {
        width: 100px;
        object-fit: cover;
    }

    #hs-rec {
        width: 275px;
        height: 275px;
        overflow: hidden;
        border-radius: 50%;
    }

    #hs-port {
        width: 275px;
        height: 275px;
        border-radius: 50%;
    }

    #hs-squ {
        width: 275px;
        height: 275px;
        border-radius: 50%;
    }

    @media all and (max-width: 800px) {
        .teamprofile-table {
            justify-content: space-evenly;
        }
    }

    @media all and (max-width: 500px) {
        .teamprofile-table {
            flex-direction: column;
        }
    }

    .teamprofile-ijtitles {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .teamprofile-ijtitles h1 {
        text-align: center;
        font-size: 35px;
    }

    .teamprofile-ijcontent {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

        margin-left: 200px;
        margin-right: 200px;
        padding-top: 0;
        padding-bottom: 50px;
    }

    .teamprofile-ijcontent h1 {
        font-size: 20px;
    }

    #teamprofile-ijtable1 {
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

        border-spacing: 1px 1px;
        border-collapse: collapse;
        margin-left: 250px;
        margin-right: 250px;
        padding-bottom: 25px;
    }

    #teamprofile-ijtable2 {
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

        border-spacing: 1px 1px;
        border-collapse: collapse;
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 0;
        padding-bottom: 50px;
    }

    #teamprofile-ijtable2 li {
        padding-right: 20px;
    }

    .teamprofile-ijtable td {
        text-align: center;
        border-style: solid;
        border-color: white;
    }

    /* Team Profile - Sub Pages */

    .teamprofile-content {
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

        margin-left: 200px;
        margin-right: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .teamprofile-content h1 {
        font-size: 20px;
    }

    #teamprofile-spacing p {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    /* Project Idea */

    .projectidea-titles {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .projectidea-titles h1 {
        text-align: center;
        font-size: 35px;
    }

    .projectidea-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

        margin-left: 300px;
        margin-right: 300px;
        padding-top: 50px;
        padding-bottom: 50px;
    }