    /* Overall CSS Styling */

    h1, h2, h3, h4, h5, 
    h6 {
        color: whitesmoke;
        font-family: Arial;
        font-size:large;
    }

    p, 
    li {
        color: whitesmoke;
        font-family: Arial;
        font-size: medium;
        letter-spacing: normal;
        line-height: 0.75cm;
    }

    a:link, a:visited {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: dodgerblue;
    }

    header {
        padding-top: 20px;
        padding-left: 50px;
    }

    .break {
        background-color: midnightblue;
        opacity: 90%;
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Background Image */

    .bg {
            background: url(../Images/holdingbg-temp.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    /* IMAGE SOURCE: Richard Horvath - https://unsplash.com/photos/_nWaeTF6qo0 */

    /* Footer */

    footer {
        color: white;
        text-align: center;
        padding-bottom: 50px;
    }

    /* Navigation Bar - Header */

    .navbar-header {	
        overflow: auto;
        padding-top: 0px;
        padding-left: 50px;
        padding-bottom: 30px;
    }

    .navbar-header a {
        font-style: italic;
        text-decoration: none;
        float: center;
        padding: 10px;
    }

    .navbar-header a:active {
        background-color: antiquewhite;
    }

    /* Navigation Bar - Footer */

    .buttonnavbar-footer {
        font-family: Arial;
        font-weight: normal;
        font-size: 15px;
        text-align: center;
        padding-top: 5px;    
        width: 100%;
    }

    .buttonnavbar-footer a {
        float: center;
        padding: 10px;
    }

    .buttonnavbar-footer a:active {
        background-color: antiquewhite;
    }

    /* Home */

    .home-content {
        padding: 175px;
        padding-bottom: 75px;
        text-align: center;

    }

    #discoball-home {
        position: inherit;
        top: 0px;
    }

    .home-image {
        padding-top: 20px;
        position: relative;
    }

    .homenavbar-footer a {
        font-family: Arial;
        font-weight: normal;
        font-size: 15px;
        font-style: italic;
        text-align: center;
        text-decoration: none;
        float: center;
        padding: 10px;
    }

    .homenavbar-footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #home-title-1 {
        font-family: Arial;
        font-weight: bold;
    }

    #home-title-2 {
        font-family: Arial;
        font-weight: bold;
    }

    #home-title-3 {
        font-family: Arial;
        font-weight: normal;
    }

    #home-title-4 {
        font-family: Arial;
        font-weight: normal;
        font-style: italic;
    }

    /* Team Profile */

    .teamprofile-header {
        text-align: left;
        text-transform: uppercase;

        padding-top: 20px;
        padding-left: 50px;
        padding-right: 755px;
    }

    .teamprofile-header h1 {
        font-size: 50px;
        color: white;
    }

    .teamprofile-titles {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .teamprofile-titles h1 {
        text-align: center;
        font-size: 35px;
    }

    .teamprofile-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

        text-align: left;
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .teamprofile-content h1 {
        font-size: 20px;
    }

    #teamprofile-spacing p {
        margin-top: 10px;
        margin-bottom: 0px;
    }